/* syntax for code  font-family: 'Itim', cursive;
font-family: 'Noto Sans Symbols', sans-serif; */
/* main body set up */
html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'Itim', 'cursive', sans-serif;
    margin: 0%;
}

/*style for header and footer*/
header {
    text-align: center;
    height: 100px;
    background-color: #abd699;
    margin-top: 0%;
    box-sizing: border-box;
    color: #16123f;
    border: 1px solid #16123f;
}

footer {
    text-align: center;
    background-color: #abd699;
    color: #16123f;
    width: 100%;
    position: absolute;
    left: 0%;
    bottom: 0%;
    box-sizing: border-box;
    border: 1px solid #16123f;
    padding-top: 1%;
    min-height: 80px;
}

/*styling for gaming area*/
.gaming-area {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 75%;
}

.controls-area {
    display: inline;
    width: 80px;
    margin: 1%;
    height: 40px;
    font-size: 20px;
}

.butn:hover {
    background-color: rgb(0, 195, 255);
}

#update {
    font-size: 25px;
}

.player {
    background-color: rgb(236, 235, 169);
    float: left;
    width: 45%;
}

.computer {
    background-color: rgb(241, 185, 163);
    float: left;
    width: 45%;
}